.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 80px;
  padding: 20px 50px;
  overflow: hidden;
  background-color: #e6e3e3;
  align-items: center;
}
.container-info {
  display: flex;
  width: 100%;
  gap: 0;
}
.left-info {
  text-align: left;
  margin-left: 25px;
  width: 50%;
}
.right-info {
  background-color: #f8f5f5;
  text-align: left;
  margin-right: 25px;
  width: 50%;
  padding: 50px;
}
.h1 {
  text-align: center;
  margin-top: 20px;
}
