.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #fffafa;
}
.container-info {
  display: flex;
  width: 100%;
}
.left-info {
  text-align: left;
  margin-left: 25px;
  width: 50%;
}
.right-info {
  text-align: left;
  margin-right: 25px;
  width: 50%;
}
.h1 {
  text-align: center;
}
