.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #fffafa;
}
.left-info {
  text-align: left;
  margin-left: 20px;
}
.right-info {
  text-align: left;
  margin-right: 20px;
}
